$Keyboard: "xy-keyboard";

.#{$Keyboard} {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    opacity: 0.2;
    // transition: 0.3s all ease-in-out;
    // transform: translate3d(0, 120%, 0);
    text-align: center;
    z-index: 999;
    background-color: #ededed;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    animation-timing-function: cubic-bezier(0.05, 0.55, 0.36, 1);
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-name: translateXOut;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    &.#{$Keyboard}-show {
        animation-name: translateXIn;
        // opacity: 1;
        // transform: translate3d(0, 0, 0);
        box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.3);
    }
}
.#{$Keyboard}-inner {
    height: 480px;
    position: relative;
    background-color: #fff;
}
.#{$Keyboard}-key {
    position: absolute;
    font-size: 48px;
    font-family: sans-serif;
    color: #000;
    display: block;
    width: 25%;
    border: 2px solid #dedfe2;
    margin: -2px;
    background-color: #fafafb;
    font-family: "PingFang SC", "Microsoft yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 120px;
    line-height: 120px;
    box-sizing: content-box;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    transition: 0.3s;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        left: -15%;
        top: -15%;
        // border: 1px solid #dadada;
        // box-shadow: 0 0 240px 60px #dadada inset;
        border-radius: 100%;
        z-index: 1;
        animation-fill-mode: both;
        width: 130%;
        height: 130%;
        background: #dadada;
        opacity: 0;
    }

    &.down {
        // background-color: #dadada;

        &:after {
            animation: wateranimate 0.15s ease-out;
        }
    }
    &.left-0 {
        left: 0;
    }
    &.left-1 {
        left: 25%;
    }
    &.left-2 {
        left: 50%;
    }
    &.left-3 {
        left: 75%;
    }
    &.top-0 {
        top: 0;
    }
    &.top-1 {
        top: 120px;
        // top: 25%;
    }
    &.top-2 {
        top: 240px;
        // top: 50%;
    }
    &.top-3 {
        top: 360px;
        // top: 75%;
    }
    &[data-code="backspace"] img {
        width: 66px;
        border: 0;
        box-sizing: border-box;
    }

    &.confirm-btn {
        height: 360px;
    }
}

@media only screen and (max-width: 320px) {
    .#{$Keyboard} {
        height: calc(13.86667vw * 4);

        .#{$Keyboard}-key {
            height: 104px;
            line-height: 104px;

            &.top-1 {
                top: 104px;
                // top: 25%;
            }
            &.top-2 {
                top: 208px;
                // top: 50%;
            }
            &.top-3 {
                top: 312px;
                // top: 75%;
            }

            &.confirm-btn {
                height: 416px;
            }
        }
    }
}

@keyframes translateXIn {
    from {
        opacity: 0;
        transform: translate3d(0, 120%, 0);
    }

    60% {
        transform: translate3d(0, -5%, 0);
    }

    75% {
        transform: translate3d(0, 4px, 0);
    }

    90% {
        transform: translate3d(0, 4px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes translateXOut {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 120%, 0);
    }
}

@keyframes wateranimate {
    0% {
        transform: scale(0);
        opacity: 0.5;
    }

    100% {
        transform: scale(8);
        opacity: 0.8;
    }
}
