html,
body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    line-height: 1.6;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}

body {
    background-color: #ededed;
}
