// 主色调
$--primary-color: #1aad19 !default;
// 主色调-亮色
$--color-light: lighten($--primary-color, 10%) !default;
// 主色调-暗色
$--color-dark: darken($--primary-color, 10%) !default;

/** 辅助色 **/
// info 色调
$--color-info: #1890ff !default;
// success 色调
$--color-success: #19be6b !default;
// warning 色调
$--color-warning: #faad14 !default;
// error 色调
$--color-error: #fa5151 !default;

/** 中性色 **/
$--color-black: #1f2d3d !default;
$--color-black-light: #324057 !default;
$--color-black-light-extra: #475669 !default;

$--color-silver: #8492a6 !default;
$--color-silver-light: #99a9bf !default;
$--color-silver-light-extra: #c0ccda !default;

$--color-gray: #d3dce6 !default;
$--color-gray-light: #e5e9f2 !default;
$--color-gray-light-extra: #eff2f7 !default;

$--color-white: #ffffff !default;
$--color-white-dark: #f9fafc !default;

/** 基础样式 **/
// 字体
$--font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
// 占位符颜色
$--placeholder-color: #bfbfbf;
// 字体默认大小
$--font-size-base: 14px;
// 默认行高
$--line-height-base: 1;
// 文本色
$--text-color: #333;
// 文本暗色
$--text-color-dark: rgba(0, 0, 0, 0.65);

/** 连接样式 **/
$--link-color: $--primary-color !default;
$--link-hover-color: lighten($--link-color, 10%) !default;
$--link-active-color: darken($--link-color, 10%) !default;

/** 禁用样式 **/
$--disabled-color: rgba(0, 0, 0, 0.25);
$--disabled-bg: #fafafa;
$--disabled-color-dark: #d9d9d9;

$--color-white-extra: #b5abab !default;
