$Footer: "weui-footer";

.#{$Footer} {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 1.4;
    text-align: center;

    a {
        color: #576b95;
    }
}
.#{$Footer}__links {
    font-size: 0;

    a {
        display: inline-block;
        vertical-align: top;
        margin: 0 8px;
        position: relative;
        font-size: 14px;
        color: #576b95;

        &:not(:first-child):before {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            bottom: 0;
            border-left: 1px solid #c7c7c7;
            color: #c7c7c7;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
            left: -8px;
            top: 0.36em;
            bottom: 0.36em;
        }
    }
}

.#{$Footer}__text {
    padding: 0 16px;
    font-size: 12px;
    line-height: 23px;
}
