.home-page {
    .page__bd {
        padding: 0 16px;
    }

    li {
        margin: 8px 0;
        background-color: #fff;
        overflow: hidden;
        border-radius: 2px;
        cursor: pointer;

        &:first-child {
            margin-top: 0;
        }
    }

    .category {
        display: flex;
        padding: 20px;
        align-items: center;
        transition: 0.3s;

        p {
            flex: 1;
        }
        img {
            width: 30px;
            height: 30px;
        }

        & + .weui-cells {
            display: none;
        }
    }

    li.expand {
        .category {
            opacity: 0.5;
        }
        .category + .weui-cells {
            display: block;
        }
    }
}
