$Loadmore: "weui-loadmore";

.#{$Loadmore} {
    width: 65%;
    margin: 1.5em auto;
    line-height: 1.6em;
    font-size: 28px;
    text-align: center;
}
.#{$Loadmore}__tips {
    display: inline-block;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.9);
}

// 线模式
.#{$Loadmore}_line {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 2.4em;

    .#{$Loadmore}__tips {
        position: relative;
        top: -0.9em;
        padding: 0 0.55em;
        background-color: #ffffff;
        color: rgba(0, 0, 0, 0.5);
    }
}

// 点模式
.#{$Loadmore}_dot {
    .#{$Loadmore}__tips {
        padding: 0 0.16em;

        &:before {
            content: " ";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.1);
            display: inline-block;
            position: relative;
            vertical-align: 0;
            top: -0.16em;
        }
    }
}
