.weui-tab {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    overflow: auto;

    .xy-badge:not(.xy-badge-not-wrapper) .xy-badge-position {
        line-height: 0;
    }
    .xy-scroll-number {
        height: 18px;
        min-width: 18px;
        line-height: 18px;
    }

    .weui-tab__panel {
        box-sizing: border-box;
        flex: 1;
        overflow: hidden;
        height: 100%;
    }

    .xy-tabs-tabcontent {
        // display: flex;
        // flex-direction: row;
        // width: 100%;
        // transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        height: 100%;
    }

    .xy-tabs-tabpanel {
        flex-shrink: 0;
        width: 100%;
        opacity: 1;
        transition: opacity 0.45s;
        display: block;
        flex: none;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .xy-tabs-tabbar {
        display: flex;
        position: relative;
        z-index: 500;
        background-color: #f7f7f7;
        color: #333;

        &:before {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 1px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            color: rgba(0, 0, 0, 0.1);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }

    .weui-tabbar__icon {
        display: inline-block;
        width: 28px;
        height: 28px;
        margin-bottom: 4px;

        svg {
            font-size: 26px;
            width: auto;
            height: auto;
        }
    }

    .weui-tabbar__label {
        color: rgba(0, 0, 0, 0.9);
        font-size: 13px;
        line-height: 1.4;
    }

    &.xy-tabs {
        .xy-tabs-tabbar {
            margin: 0;
        }

        .xy-tabs-tab {
            display: block;
            flex: 1;
            padding: 8px 0;
            padding-bottom: calc(8px + constant(safe-area-inset-bottom));
            padding-bottom: calc(8px + env(safe-area-inset-bottom));
            font-size: 0;
            color: #333;
            text-align: center;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            margin: 0;
            border-bottom: none;
            user-select: none;
            -webkit-user-select: none;
            transition: 0.3s;

            &:hover,
            &:active {
                color: #07c160;
                background-color: #ececec;
                .weui-tabbar__label {
                    color: #07c160;
                }
            }

            &.active {
                border-bottom: none;
                color: #07c160;
                .weui-tabbar__label {
                    color: #07c160;
                }
            }

            &:first-child {
                padding-left: constant(safe-area-inset-left);
                padding-left: env(safe-area-inset-left);
            }
        }
    }
}
