$MediaboxMeta: "weui-media-box__info__meta";
.#{$MediaboxMeta} {
    float: left;
    padding-right: 1em;
}
.#{$MediaboxMeta}_extra {
    padding-left: 1em;
    border-left: 1px solid #cecece;
}

$Mediabox: "weui-media-box";
.#{$Mediabox} {
    padding: 16px;
    position: relative;

    &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        left: 16px;
    }

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: inherit;
    transition: 0.24s;

    &:first-child:before {
        display: none;
    }
}
.#{$Mediabox}_arrow:active {
    background-color: #ececec;
}
.#{$Mediabox}__title {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.9);
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
}
.#{$Mediabox}__desc {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 1.4;
    padding-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.#{$Mediabox}__info {
    margin-top: 16px;
    padding-bottom: 4px;
    font-size: 13px;
    color: #cecece;
    line-height: 1em;
    list-style: none;
    overflow: hidden;
}
.#{$Mediabox}__thumb {
    width: 100%;
    max-height: 100%;
    vertical-align: top;
}
.#{$Mediabox}__ft {
    padding-right: 22px;
    position: relative;

    &:after {
        content: " ";
        width: 12px;
        height: 24px;
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        mask-size: 100%;
        background-color: currentColor;
        color: rgba(0, 0, 0, 0.3);
        -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
        mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -12px;
    }
}

// 紧凑模式
.#{$Mediabox}_appmsg {
    display: flex;
    align-items: center;

    .#{$Mediabox}__hd {
        margin-right: 16px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }
    .#{$Mediabox}__bd {
        flex: 1;
        min-width: 0;
    }
}
