@import "../../Styles/themes.scss";

.sp-circle {
    border: 4px rgba(0, 0, 0, 0.25) solid;
    border-top: 4px $--primary-color solid;
    border-radius: 50%;
    animation: spCircRot 0.6s infinite linear;
    width: 32px;
    height: 32px;
    clear: both;
}

@keyframes spCircRot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.sp-volume {
    background-color: $--primary-color;
    border-radius: 50%;
    position: relative;
    -webkit-animation: spVolRot 0.6s infinite linear;
    animation: spVolRot 0.6s infinite linear;
    width: 32px;
    height: 32px;
    clear: both;
}
.sp-volume:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    left: 5px;
    top: 5px;
    background-color: white;
}

@keyframes spVolRot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.sp-wave {
    border-radius: 50%;
    position: relative;
    opacity: 1;
    width: 32px;
    height: 32px;
    clear: both;
}
.sp-wave:before,
.sp-wave:after {
    content: "";
    border: 1px $--primary-color solid;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
}

.sp-wave:before {
    transform: scale(1, 1);
    opacity: 1;
    -webkit-animation: spWaveBe 0.6s infinite linear;
    animation: spWaveBe 0.6s infinite linear;
}

.sp-wave:after {
    transform: scale(0, 0);
    opacity: 0;
    -webkit-animation: spWaveAf 0.6s infinite linear;
    animation: spWaveAf 0.6s infinite linear;
}
@keyframes spWaveAf {
    from {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}
@keyframes spWaveBe {
    from {
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0;
    }
}
