.weui-input {
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    height: 1.41176471em;
    line-height: 1.41176471;
}

input,
textarea {
    caret-color: #07c160;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.weui-btn_reset {
    background: transparent;
    border: 0;
    padding: 0;
    outline: 0;
}
.weui-btn_input-clear {
    display: none;
    padding-left: 8px;
    height: 24px;
    overflow: hidden;

    &.visible {
        display: block;
    }
}
.weui-input:focus:not(:placeholder-shown) + .weui-btn_input-clear {
    display: inline;
}
.weui-btn_input-clear [class*="weui-icon-"] {
    width: 18px;
}
