@import "../../Styles/themes.scss";

$Button: "weui-btn";

.#{$Button} {
    position: relative;
    display: block;
    width: 368px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 48px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 1.41176471;
    border-radius: 8px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

.#{$Button}_loading {
    &.#{$Button}_primary {
        background-color: #06ad56;
    }

    .weui-loading {
        margin: -0.2em 0.34em 0 0;
    }
}
.#{$Button}_long {
    width: 100%;
}

.#{$Button}.#{$Button}_primary {
    background-color: #07c160;
    color: #fff;

    &:not(.#{$Button}_disabled):visited {
        color: #ffffff;
    }

    &:not(.#{$Button}_disabled):active {
        color: #ffffff;
        background-color: #06ad56;
    }
}
.#{$Button}.#{$Button}_default {
    background-color: #f2f2f2;
    color: #06ae56;

    &:not(.#{$Button}_disabled):active {
        color: #06ae56;
        background-color: #d9d9d9;
    }
}
.#{$Button}.#{$Button}_danger {
    background-color: $--color-error;
    color: #fff;

    &:not(.#{$Button}_disabled):visited {
        color: #fff;
    }

    &:not(.#{$Button}_disabled):active {
        color: #d9d9d9;
        background-color: darken($--color-error, 10%);
    }
}

.#{$Button}.#{$Button}_disabled {
    color: rgba(0, 0, 0, 0.18);
    background-color: $--disabled-bg;
}

.#{$Button} + .#{$Button} {
    margin-top: 1em;
}
