html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    line-height: 1.6;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
}
input,
textarea {
    caret-color: #07c160;
}
::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
body,
html,
pre,
code,
form,
fieldset,
legend,
input,
span,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    word-spacing: 0;
    border: 0;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

input,
button,
select,
textarea {
    outline: none;
}

input[type="button"],
input[type="rest"],
input[type="text"],
input[type="password"] {
    -webkit-appearance: none;
    outline: none;
}

* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    display: block;
}
