$Toptips: "weui-toptips";

.#{$Toptips}-wrapper {
    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;
    font-size: 28px;
    text-align: center;
    color: #fff;
    z-index: 5000;
    word-wrap: break-word;
    word-break: break-all;
}
.weui-popup-content.#{$Toptips}-wrapper {
    position: fixed;
    z-index: 5000;
}
.#{$Toptips} {
    padding: 20px;
    border-radius: 16px;
    box-sizing: border-box;
}
.#{$Toptips}-type-success {
    background-color: #07c160;
}
.#{$Toptips}-type-fail {
    background-color: #fa5151;
}
