$ListItem: "weui-cell";
$List: "weui-cells";

.#{$ListItem} {
    padding: 16px;
    position: relative;
    display: flex;
    align-items: center;

    &:not(:first-child):before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        left: 16px;
        z-index: 2;
    }
}
.#{$ListItem}_access {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: inherit;
    transition: 0.24s;

    &:active {
        background-color: #ececec;
    }

    .#{$ListItem}__ft {
        padding-right: 22px;
        position: relative;

        &:after {
            content: " ";
            width: 12px;
            height: 24px;
            -webkit-mask-position: 0 0;
            mask-position: 0 0;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 100%;
            mask-size: 100%;
            background-color: currentColor;
            color: rgba(0, 0, 0, 0.3);
            -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
            mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.454%206.58l1.06-1.06%205.78%205.779a.996.996%200%20010%201.413l-5.78%205.779-1.06-1.061%205.425-5.425-5.425-5.424z%22%20fill%3D%22%23B2B2B2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -12px;
        }
    }
}
.#{$ListItem}__bd {
    flex: 1;
}
.#{$ListItem}__ft {
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
}

.#{$List}__title {
    margin-top: 16px;
    margin-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 1.4;
}
.#{$List} {
    margin-top: 8px;
    background-color: #ffffff;
    line-height: 1.41176471;
    font-size: 17px;
    overflow: hidden;
    position: relative;

    &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        z-index: 2;
    }

    &:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.1);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        z-index: 2;
    }
}
.#{$List}__title + .#{$List} {
    margin-top: 0;
}

.#{$List}__group.#{$List}__group_form {
    .#{$List}__title {
        margin-top: 24px;
        margin-bottom: 8px;
        padding: 0 32px;
    }

    &:first-child .#{$List}__title {
        margin-top: 0;
    }
}

.#{$List}__group_form {
    .#{$ListItem} {
        padding: 16px 32px;
        color: rgba(0, 0, 0, 0.9);
    }
    .#{$ListItem}__hd {
        padding-right: 16px;
    }
    .weui-label {
        max-width: 5em;
        margin-right: 8px;
    }
    .#{$ListItem}__bd {
        display: flex;
    }

    .#{$List}:before,
    .#{$ListItem}:before {
        left: 32px;
        right: 32px;
    }
    .#{$List}:after,
    .#{$ListItem}:after {
        left: 32px;
        right: 32px;
    }

    .#{$ListItem}__ft {
        padding-left: 16px;
        font-size: 0;
    }

    input,
    textarea,
    label[for] {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}
.#{$List}_form {
    .input-item:not(.weui-cell_vcode):not(.weui-cell_disabled):active {
        background-color: #ececec;
    }

    .weui-check__label:not(.weui-cell_disabled):active .weui-cell {
        background-color: #ececec;
    }
}
