$GridItem: "weui-grid";
$GridWrap: "#{$GridItem}s";

.#{$GridWrap} {
    position: relative;
    overflow: hidden;

    &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 2px;
        border-top: 2px solid #d9d9d9;
        color: #d9d9d9;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }

    &:after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        bottom: 0;
        border-left: 2px solid #d9d9d9;
        color: #d9d9d9;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
    }
}

.#{$GridItem} {
    position: relative;
    float: left;
    padding: 40px 20px;
    width: 33.33333333%;
    box-sizing: border-box;

    &:before {
        content: " ";
        position: absolute;
        right: 0;
        top: 0;
        width: 2px;
        bottom: 0;
        border-right: 2px solid #d9d9d9;
        color: #d9d9d9;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
    }

    &:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 2px;
        border-bottom: 2px solid #d9d9d9;
        color: #d9d9d9;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }

    &:active {
        background-color: #ececec;
    }
}

.#{$GridItem}__icon {
    width: 56px;
    height: 56px;
    margin: 0 auto;

    & > img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.#{$GridItem}__label {
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    font-size: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.#{$GridItem}__icon + .#{$GridItem}__label {
    margin-top: 8px;
}
