$Form: "weui-form";

.#{$Form} {
    padding: 56px 0 20px;
    // padding: calc(56px + constant(safe-area-inset-top)) constant(safe-area-inset-right) constant(safe-area-inset-bottom + 20px) constant(safe-area-inset-left);
    // padding: calc(56px + env(safe-area-inset-top)) env(safe-area-inset-right) env(safe-area-inset-bottom + 20px) env(safe-area-inset-left);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
    line-height: 1.4;
    background-color: #ffffff;
}
.#{$Form}__text-area {
    padding: 0 32px;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
}
.#{$Form}__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.36;
}
.#{$Form}__desc {
    font-size: 17px;
    margin-top: 16px;
    line-height: 30px;
}
.#{$Form}__control-area {
    flex: 1;
    margin: 48px 0;
}
.#{$Form}__tips-area {
    overflow: hidden;
}
.#{$Form}__opr-area {
    margin-bottom: 64px;
}
.#{$Form}__tips-area,
.#{$Form}__extra-area {
    margin-bottom: 24px;
    text-align: center;
}

@media screen and (min-height: 438px) {
    .#{$Form}__extra-area {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding-bottom: env(safe-area-inset-bottom + 10px);
    }
}

.weui-label {
    display: block;
    width: 105px;
    word-wrap: break-word;
    word-break: break-all;
}
.form-item-required .weui-label:before {
    content: "*";
    color: #ff4949;
}

.form-item-error {
    .picker-panel,
    .weui-label {
        color: #ff4949;
    }
}
input.valid-error {
    color: #ff4949;
}
.weui-input:disabled,
.weui-input:disabled,
.weui-textarea:disabled,
.weui-textarea:disabled {
    opacity: 1;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
}
.weui-input[disabled],
.weui-input[disabled],
.weui-textarea[disabled],
.weui-textarea[disabled],
.weui-input[readonly],
.weui-input[readonly],
.weui-textarea[readonly],
.weui-textarea[readonly] {
    color: rgba(0, 0, 0, 0.5);
}
.weui-btn.weui-vcode-btn {
    font-size: 15px;
    padding: 0 12px;
    margin-left: 0;
    height: auto;
    width: auto;
    line-height: 2em;
    color: #06ae56;
    background-color: #f2f2f2;
    border: 0;
    outline: 0;
}

.weui-select {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
    font-size: inherit;
    height: 56px;
    line-height: 56px;
    position: relative;
    z-index: 1;
    padding-left: 16px;
}

.weui-cell__bd .weui-select {
    padding: 0 32px;
}
