$HalfScreen: "weui-half-screen-dialog";

.#{$HalfScreen}-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 75%;
    z-index: 5000;
    line-height: 1.4;
    background-color: #ffffff;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    overflow: hidden;
    padding: 0 calc(48px + constant(safe-area-inset-right)) constant(safe-area-inset-bottom) calc(48px + constant(safe-area-inset-left));
    padding: 0 calc(48px + env(safe-area-inset-right)) env(safe-area-inset-bottom) calc(48px + env(safe-area-inset-left));
    user-select: none;
    -webkit-user-select: none;
}
.weui-popup-content.#{$HalfScreen}-wrapper {
    position: fixed;
    z-index: 5000;
}
.#{$HalfScreen}__hd {
    font-size: 16px;
    height: 8em;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;

    .weui-icon-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
.#{$HalfScreen}__hd__side {
    position: relative;
    left: -16px;
}
.#{$HalfScreen}__hd__main {
    flex: 1;
}
.#{$HalfScreen}__hd__side + .#{$HalfScreen}__hd__main {
    text-align: center;
    padding: 0 80px;
}
.#{$HalfScreen}__hd__main + .#{$HalfScreen}__hd__side .weui-icon-btn {
    right: 0;
}
.#{$HalfScreen}__title {
    display: block;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
    font-size: 30px;
}
.#{$HalfScreen}__subtitle {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.#{$HalfScreen}__bd {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-y: auto;
    max-height: 44vh;
}
.#{$HalfScreen}__desc {
    padding-top: 8px;
    font-size: 34px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.4;
}
.#{$HalfScreen}__tips {
    padding-top: 32px;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.3);
    line-height: 1.4;
}
.#{$HalfScreen}__ft {
    padding: 80px 48px 64px;
    text-align: center;
}

.#{$HalfScreen}__ft .weui-btn:nth-last-child(n + 2),
.#{$HalfScreen}__ft .weui-btn:nth-last-child(n + 2) ~ .weui-btn {
    display: inline-block;
    vertical-align: top;
    margin: 0 16px;
    width: 240px;
}
